<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="list-group-item">
      <a href="{% url 'kitchen_service:dish-type-list' %}" class="button">Dish types</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'kitchen_service:dish-list' %}" class="button">Dishes</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'kitchen_service:cook-list' %}" class="button">Cooks</a>
    </li>
    <li class="list-group-item">
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <input type="submit" value="Logout">
      </form>
    </li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login' %}">Login</a></li>
  {% endif %}
</ul>
