{% extends "base.html" %}

{% block content %}
  {% if dish_list %}
    <table class="table">
    <tr>
      <th>TYPE</th>
      <th>NAME</th>
      <th>PRICE</th>
    </tr>
      {% for dish in dish_list %}
        <tr>
          <td>{{ dish.dish_type }}</td>
          <td><a href="{% url 'kitchen_service:dish-detail' pk=dish.pk %}">{{ dish.name }}</a></td>
          <td>{{ dish.price }}</td>
        </tr>
      {% endfor %}
    </table>

    
  {% else %}  
    <p>There is no dishes!</p>
  {% endif %}
{% endblock %}